# Anchor & Solana
.anchor
target
test-ledger
**/*.rs.bk
surfnet-state.sqlite
surfnet-temp.sqlite

# Node & Package Managers
node_modules
.yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & Secrets
.env
tests/utils/keys

# System Files
.DS_Store
Thumbs.db

# Surfpool local state & logs
.surfpool/
*.log

# Deployment Signers / Sensitive TX data
runbooks/deployment/signers.*.tx

my_notes.md
